* {
  margin: 0;
  padding: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
}

.logo-container {
  width: 100px;
  height: 100px;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list li {
  list-style-type: none;
  margin: 5px 10px;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
  color: #1991d0;
}

.nav-list li a:hover {
  opacity: 0.9;
}
