/* RESET BASIQUE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.logo-container img {
  height: 50px;
}

/* NAVIGATION */
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-list a:hover {
  color: #1991d0; /* bleu Open d'Australie */
}

/* SECTION */
.section {
  margin-top: 40px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.section-content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.section-image {
  width: 45%;
  border-radius: 4px;
}

.section-content-text {
  width: 55%;
}

.section-content-text p {
  margin-bottom: 15px;
}

.section-content-text ul {
  padding-left: 20px;
  list-style-type: none;
}

.section-content-text ul li {
  margin-bottom: 8px;
}

.section-content-text ul li strong {
  font-weight: bold;
}
